.blue-underline {
    text-decoration: none; /* Remove the default underline */
    border-bottom: 3px solid #3534ff; /* Add a bottom border instead */
    padding-bottom: 5px; /* Add space between text and border */
    display: inline-block; /* Ensures the border only spans the text width */
}

 .blog_img {
    position: relative;
    width: 100%;
}

.post_date {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #3534ff;
    color: white;
    padding: 5px 10px;
    font-size: 14px;
    border-radius: 4px;
    z-index: 2;
}
